<h2>Editing {{ contact.name.first }} {{ contact.name.last }}</h2>
<table>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Number</th>
	</tr>
	<tr>
		<td><input ng-model="contact.name.first" ng-change="save()"></td>
		<td><input ng-model="contact.name.last" ng-change="save()"></td>
		<td><input ng-model="contact.email" ng-change="save()"></td>
		<td><input ng-model="contact.number" ng-change="save()"></td>
	</tr>
</table>
<h4>Notes</h4>
<textarea ng-model="contact.notes" cols="50" rows="8" ng-change="save()"></textarea>
<br/>
<a href="/" style="text-align:center;">Back to List</a>
