<!doctype html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<title>Angular-JS Example</title>
		<style type="text/css">
			/* The * is the universal selector; it matches any element. */
		 	* {
		 		box-sizing: border-box;
		 	}
		 	body {
		 		font: 16px/1.5 sans-serif;
		 		color: #222;
		 		margin: 5em;
		 	}
		</style>
		<script type="text/javascript" src="../angular.min-1.2.js" ></script>		
	</head>
	<body>
		<div>
			<input type="search" ng-model="search" >
		</div>
		<div ng-controller="ListCtrl">
			<ul>
				<!-- angular also can work with objects in ng-repeat directive 
				     use filter:search model for filtering data list by name and age -->
				<li ng-repeat="person in people | filter:search">{{ person.name }} : {{ person.age }}</li>
				<!-- use ng-if directive to check if length of filtering is zero show span --> 
				<li ng-if="(people | filter:search).length == 0"><span>No Persons</span></li>
			</ul>	
			<div >
				<label>Name:</label>&nbsp;<input type="text"  ng-model="addNewName" placeholder="Enter new name">
				<br/>
				<label>Age:</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" ng-model="addNewAge" placeholder="Enter new Age">
				<br/>
				<input type="button" ng-click="add()" value="add" >
				<br/>
			</div>
		</div>		 
		<script type="text/javascript">
			// making a controller by the next way will works only with angularJs version 1.2
			// If works with angularJs version 1.3 will give Error: Argument 'ListCtrl' is not a function, got undefined
			/**
			 * List Controller
			 * @param rootScopeProvider $scope
			 */
			var ListCtrl = function ($scope) {

				/**
				 * Array of Person objects
				 * @type array
				 */
				$scope.people = [
					{name: "Tom" , age: 20 },
					{name: "Jeffrey" , age: 30 },
					{name: "Dan" , age: 40 },
					{name: "David" , age: 50 },
					{name: "peter" , age: 60 }
				];

				/**
				 * add new persion object
				 */
				$scope.add = function () {
					$scope.people.push({
						name: $scope.addNewName,
						age: $scope.addNewAge
					});
					$scope.addNewName = "";
					$scope.addNewAge = "";
				}; 
			};
		</script>		
	</body>
</html>