<!DOCTYPE html>
<html ng-app="filterApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Example 4.4 [filters]</title>
		<style type="text/css">
		 	* {
		 		box-sizing: border-box;
		 	}
		 	body {
		 		font: 16px/1.5 sans-serif;
		 		color: #222;
		 		margin: 5em;
		 	}
		</style>
	</head>
	<body>
		<div ng-controller="FilterCtrl">
			<ul>
				<li>Price Without filter : {{price}}</li>
				<!-- Price With defualt currency filter which add $ sign before price value-->
				<li>Price With currency filter : {{price | currency}}</li>
				<li>{{amount}}</li>
				<li>{{message}}</li>
				<li>{{message}}</li>
				<li>{{date}}</li>
			</ul>
			<ul>
				<li ng-repeat="name in names">{{name}}</li>
			</ul>
			<ul>
				<li ng-repeat="person in people">{{person.firstname}} {{person.lastname}}</li>
			</ul>	
		</div>
		<script type="text/javascript" src="../../angular.min-1.3.js"></script>
		<script type="text/javascript">

			/**
			* filterApp Module
			*
			* @author ahmed hamdy <ahmedhamdy20@gmail.com>		
			*/
			angular.module('filterApp', [])
				/**
				 * Filter Controller
				 * 
	             * @param {$rootScopeProvider} $scope use Dependency Injection to inject $rootScopeProvider object
				 */
				.controller('FilterCtrl', ['$scope', function($scope){
					
					/**
					 * price 
					 * @type {Number}
					 */
					$scope.price = 11.50;

					/**
					 * amount 
					 * @type {Number}
					 */
					$scope.amount = 10.123456789;

					/**
					 * message 
					 * @type {String}
					 */
					$scope.message = "Hello, World";

					/**
					 * date current date  
					 * @type {Date}
					 */
					$scope.date = new Date();

					/**
					 * names Array of random names
					 * @type {Array}
					 */
					$scope.names = [ "Tom",
					 	"Laura",
					 	"Zoe",
					 	"Jeffrey"
					];

					$scope.people = [
						{firstname : "Tom", lastname: "Ashworth"},
						{firstname : "Jeffrey", lastname: "Way"},
						{firstname : "Joe", lastname: "Bloggs"}
					];

				}]);
		</script>
	</body>
</html>