* {
	box-sizing: border-box;
}
body {
	font: 16px/1.5 sans-serif;
	color: #222;
	margin: 5em;
}
.editDivView{
	margin-top: 20em;
	margin-bottom: 20em;
	margin-right: 20em;
}
.editDivView > * {
	margin: 20em;
}
.listDivView{
	margin-top: 20em;
	margin-bottom: 20em;
	margin-left: 20em;
}
.listDivView > * {
	margin: 20em;
}
ul {
	list-style: none;
	margin-left: 20em;
	margin-top: 5em;
	margin-bottom: 5em; 
}